.elementor-95 .elementor-element.elementor-element-b23b0b2 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-95 .elementor-element.elementor-element-b4c7cc4 {
    --display: flex;
    --min-height: 0px;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
    --z-index: 1
}

.elementor-95 .elementor-element.elementor-element-b4c7cc4:not(.elementor-motion-effects-element-type-background), .elementor-95 .elementor-element.elementor-element-b4c7cc4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url(../img/bg-footer-h1-min.png);
    background-repeat: no-repeat
}

.elementor-95 .elementor-element.elementor-element-b4c7cc4, .elementor-95 .elementor-element.elementor-element-b4c7cc4::before {
    --border-transition: 0.3s
}

.elementor-95 .elementor-element.elementor-element-b4c7cc4>.elementor-shape-top .elementor-shape-fill, .elementor-95 .elementor-element.elementor-element-b4c7cc4>.e-con-inner>.elementor-shape-top .elementor-shape-fill {
    fill: var(--e-global-color-tertiary)
}

.elementor-95 .elementor-element.elementor-element-9f12456 {
    --display: flex;
    --align-items: flex-start;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-widget-image .widget-image-caption {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight)
}

.elementor-95 .elementor-element.elementor-element-ac67076 {
    width: var(--container-widget-width, 90.4px);
    max-width: 90.4px;
    --container-widget-width: 90.4px;
    --container-widget-flex-grow: 0;
    top: -41px
}

.elementor-95 .elementor-element.elementor-element-ac67076>.elementor-widget-container {
    --e-transform-rotateZ: 58deg
}

body:not(.rtl) .elementor-95 .elementor-element.elementor-element-ac67076 {
    left: 62px
}

body.rtl .elementor-95 .elementor-element.elementor-element-ac67076 {
    right: 62px
}

body:not(.rtl) .elementor-95 .elementor-element.elementor-element-9eb0ef6 {
    left: -11px
}

body.rtl .elementor-95 .elementor-element.elementor-element-9eb0ef6 {
    right: -11px
}

.elementor-95 .elementor-element.elementor-element-9eb0ef6 {
    top: -4px
}

.elementor-95 .elementor-element.elementor-element-fc72bf4 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-widget-beezi-heading .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight)
}

.elementor-95 .elementor-element.elementor-element-63fbbff {
    width: var(--container-widget-width, 408px);
    max-width: 408px;
    --container-widget-width: 408px;
    --container-widget-flex-grow: 0
}

.elementor-95 .elementor-element.elementor-element-63fbbff>.elementor-widget-container {
    margin: 0 0 0 0;
    padding: 42px 0 73px 0
}

.elementor-95 .elementor-element.elementor-element-63fbbff .elementor-heading-title {
    color: #F9C300;
    font-family: "KaushanScript-Regular", Sans-serif;
    font-size: 64px;
    font-weight: 400;
    text-transform: lowercase;
    line-height: 64px;
    letter-spacing: -1px
}

.elementor-95 .elementor-element.elementor-element-63fbbff .elementor-sub-title {
    color: var(--e-global-color-text);
    font-family: "PTSerif", Sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-transform: none;
    line-height: 28px;
    letter-spacing: .4px
}

.elementor-95 .elementor-element.elementor-element-63fbbff.subtitle-position-below .elementor-sub-title {
    margin-top: 0
}

.elementor-95 .elementor-element.elementor-element-63fbbff.subtitle-position-above .elementor-sub-title {
    margin-bottom: 0
}

.elementor-95 .elementor-element.elementor-element-98d6bd3 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-95 .elementor-element.elementor-element-0a3d88e>.elementor-widget-container {
    margin: 92px 0 0 0;
    padding: 0 0 0 0
}

.elementor-95 .elementor-element.elementor-element-0a3d88e .form-style .mc4wp-form .mailchimp input {
    padding: 0 0 0 0
}

.elementor-95 .elementor-element.elementor-element-07367ac {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-95 .elementor-element.elementor-element-07367ac:not(.elementor-motion-effects-element-type-background), .elementor-95 .elementor-element.elementor-element-07367ac>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url(../img/h1-bg-footer-02-min.jpg)
}

.elementor-95 .elementor-element.elementor-element-07367ac, .elementor-95 .elementor-element.elementor-element-07367ac::before {
    --border-transition: 0.3s
}

.elementor-95 .elementor-element.elementor-element-c2e47e6 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
    border-style: dashed;
    --border-style: dashed;
    border-width: 0 0 1px 0;
    --border-top-width: 0px;
    --border-right-width: 0px;
    --border-bottom-width: 1px;
    --border-left-width: 0px;
    border-color: #FFFFFF45;
    --border-color: #FFFFFF45;
    --border-radius: 0px 0px 0px 0px;
    --padding-top: 100px;
    --padding-bottom: 93px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-95 .elementor-element.elementor-element-c2e47e6, .elementor-95 .elementor-element.elementor-element-c2e47e6::before {
    --border-transition: 0.3s
}

.elementor-95 .elementor-element.elementor-element-54b010c {
    --display: flex;
    --gap: 22px 22px;
    --background-transition: 0.3s;
    --padding-top: 23px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-widget-heading .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight)
}

.elementor-95 .elementor-element.elementor-element-9152944 .elementor-heading-title {
    color: var(--e-global-color-accent);
    font-family: Arial, Sans-serif;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 14px
}

.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
    border-color: var(--e-global-color-text)
}

.elementor-widget-icon-list .elementor-icon-list-icon i {
    color: var(--e-global-color-primary)
}

.elementor-widget-icon-list .elementor-icon-list-icon svg {
    fill: var(--e-global-color-primary)
}

.elementor-widget-icon-list .elementor-icon-list-item>.elementor-icon-list-text, .elementor-widget-icon-list .elementor-icon-list-item>a {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight)
}

.elementor-widget-icon-list .elementor-icon-list-items .elementor-icon-list-item .elementor-icon-list-text {
    color: var(--e-global-color-secondary)
}

.elementor-95 .elementor-element.elementor-element-3519aa7>.elementor-widget-container {
    margin: 0 0 0 0;
    padding: 0 0 0 0
}

.elementor-95 .elementor-element.elementor-element-3519aa7.elementor-element {
    --align-self: flex-start
}

.elementor-95 .elementor-element.elementor-element-3519aa7 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(12px/2)
}

.elementor-95 .elementor-element.elementor-element-3519aa7 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(12px/2)
}

.elementor-95 .elementor-element.elementor-element-3519aa7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(12px/2);
    margin-left: calc(12px/2)
}

.elementor-95 .elementor-element.elementor-element-3519aa7 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-12px/2);
    margin-left: calc(-12px/2)
}

body.rtl .elementor-95 .elementor-element.elementor-element-3519aa7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-12px/2)
}

body:not(.rtl) .elementor-95 .elementor-element.elementor-element-3519aa7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-12px/2)
}

.elementor-95 .elementor-element.elementor-element-3519aa7 .elementor-icon-list-icon i {
    transition: color 0.3s
}

.elementor-95 .elementor-element.elementor-element-3519aa7 .elementor-icon-list-icon svg {
    transition: fill 0.3s
}

.elementor-95 .elementor-element.elementor-element-3519aa7 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px
}

.elementor-95 .elementor-element.elementor-element-3519aa7 .elementor-icon-list-icon {
    transform: rotate(0deg)
}

.elementor-95 .elementor-element.elementor-element-3519aa7 .elementor-icon-list-items .elementor-icon-list-item .elementor-icon-list-text {
    color: var(--e-global-color-lighter)
}

.elementor-95 .elementor-element.elementor-element-3519aa7 .elementor-icon-list-items .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #FFF
}

.elementor-95 .elementor-element.elementor-element-3519aa7 .elementor-icon-list-text {
    transition: color 0.3s
}

.elementor-95 .elementor-element.elementor-element-36052e8 {
    --display: flex;
    --gap: 22px 22px;
    --background-transition: 0.3s;
    --padding-top: 23px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-95 .elementor-element.elementor-element-1ed173e .elementor-heading-title {
    color: var(--e-global-color-accent);
    font-family: Arial, Sans-serif;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 14px
}

.elementor-95 .elementor-element.elementor-element-67c2e49.elementor-element {
    --align-self: flex-start
}

.elementor-95 .elementor-element.elementor-element-67c2e49 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(12px/2)
}

.elementor-95 .elementor-element.elementor-element-67c2e49 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(12px/2)
}

.elementor-95 .elementor-element.elementor-element-67c2e49 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(12px/2);
    margin-left: calc(12px/2)
}

.elementor-95 .elementor-element.elementor-element-67c2e49 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-12px/2);
    margin-left: calc(-12px/2)
}

body.rtl .elementor-95 .elementor-element.elementor-element-67c2e49 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-12px/2)
}

body:not(.rtl) .elementor-95 .elementor-element.elementor-element-67c2e49 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-12px/2)
}

.elementor-95 .elementor-element.elementor-element-67c2e49 .elementor-icon-list-icon i {
    transition: color 0.3s
}

.elementor-95 .elementor-element.elementor-element-67c2e49 .elementor-icon-list-icon svg {
    transition: fill 0.3s
}

.elementor-95 .elementor-element.elementor-element-67c2e49 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px
}

.elementor-95 .elementor-element.elementor-element-67c2e49 .elementor-icon-list-icon {
    transform: rotate(0deg)
}

.elementor-95 .elementor-element.elementor-element-67c2e49 .elementor-icon-list-items .elementor-icon-list-item .elementor-icon-list-text {
    color: var(--e-global-color-lighter)
}

.elementor-95 .elementor-element.elementor-element-67c2e49 .elementor-icon-list-items .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #FFF
}

.elementor-95 .elementor-element.elementor-element-67c2e49 .elementor-icon-list-text {
    transition: color 0.3s
}

.elementor-95 .elementor-element.elementor-element-b2e2482 {
    --display: flex;
    --align-items: center;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --background-transition: 0.3s;
    border-style: dashed;
    --border-style: dashed;
    border-width: 0 1px 0 1px;
    --border-top-width: 0px;
    --border-right-width: 1px;
    --border-bottom-width: 0px;
    --border-left-width: 1px;
    border-color: #FFFFFF45;
    --border-color: #FFFFFF45;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 78px;
    --padding-right: 78px
}

.elementor-95 .elementor-element.elementor-element-b2e2482, .elementor-95 .elementor-element.elementor-element-b2e2482::before {
    --border-transition: 0.3s
}

.elementor-widget-site-logo .hfe-site-logo-container .hfe-site-logo-img {
    border-color: var(--e-global-color-primary)
}

.elementor-widget-site-logo .widget-image-caption {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight)
}

.elementor-95 .elementor-element.elementor-element-6b4e88b>.elementor-widget-container {
    margin: 0 0 0 0;
    padding: 0 0 0 0
}

.elementor-95 .elementor-element.elementor-element-6b4e88b .hfe-site-logo-container, .elementor-95 .elementor-element.elementor-element-6b4e88b .hfe-caption-width figcaption {
    text-align: center
}

.elementor-95 .elementor-element.elementor-element-6b4e88b .hfe-site-logo-container .hfe-site-logo-img {
    border-style: none
}

.elementor-95 .elementor-element.elementor-element-6b4e88b .widget-image-caption {
    margin-top: 0;
    margin-bottom: 0
}

.elementor-widget-text-editor {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-weight: var(--e-global-typography-text-font-weight)
}

.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
    background-color: var(--e-global-color-primary)
}

.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap, .elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary)
}

.elementor-95 .elementor-element.elementor-element-aa8c1fe>.elementor-widget-container {
    margin: 47px 0 26px 0;
    padding: 0 0 0 0
}

.elementor-95 .elementor-element.elementor-element-aa8c1fe {
    text-align: center;
    color: #FFF;
    font-family: "PTSerif", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 0
}

.elementor-95 .elementor-element.elementor-element-7cd2b9d>.elementor-widget-container {
    margin: 0 0 0 0
}

.elementor-95 .elementor-element.elementor-element-7cd2b9d {
    text-align: center;
    color: var(--e-global-color-lighter);
    font-family: Arial, Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px
}

.elementor-95 .elementor-element.elementor-element-58a1202>.elementor-widget-container {
    margin: 18px 0 6px 0
}

.elementor-95 .elementor-element.elementor-element-58a1202 {
    text-align: center;
    color: #FFF
}

.elementor-95 .elementor-element.elementor-element-fb1dfe7>.elementor-widget-container {
    margin: 0 0 30px 0
}

.elementor-95 .elementor-element.elementor-element-fb1dfe7 {
    text-align: center;
    color: #E74F3D;
    font-family: Arial, Sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 30px
}

.elementor-95 .elementor-element.elementor-element-ff74f1e {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 20px;
    --grid-column-gap: 9px;
    --grid-row-gap: 0px
}

.elementor-95 .elementor-element.elementor-element-ff74f1e .elementor-widget-container {
    text-align: center
}

.elementor-95 .elementor-element.elementor-element-ff74f1e>.elementor-widget-container {
    margin: 0 0 0 0;
    padding: 0 0 0 0
}

.elementor-95 .elementor-element.elementor-element-ff74f1e .elementor-social-icon {
    background-color: #033646
}

.elementor-95 .elementor-element.elementor-element-ff74f1e .elementor-social-icon:hover {
    background-color: var(--e-global-color-primary)
}

.elementor-95 .elementor-element.elementor-element-ff74f1e .elementor-social-icon:hover i {
    color: var(--e-global-color-secondary)
}

.elementor-95 .elementor-element.elementor-element-ff74f1e .elementor-social-icon:hover svg {
    fill: var(--e-global-color-secondary)
}

.elementor-95 .elementor-element.elementor-element-d8e22ee {
    --display: flex;
    --align-items: center;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --gap: 18px 18px;
    --background-transition: 0.3s;
    --padding-top: 23px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-95 .elementor-element.elementor-element-f3b91af {
    --display: flex;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-95 .elementor-element.elementor-element-f3b91af.e-con {
    --flex-grow: 0;
    --flex-shrink: 0
}

.elementor-95 .elementor-element.elementor-element-12702bd>.elementor-widget-container {
    margin: 0 0 18px 0
}

.elementor-95 .elementor-element.elementor-element-12702bd .elementor-heading-title {
    color: var(--e-global-color-accent);
    font-family: Arial, Sans-serif;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 14px
}

.elementor-95 .elementor-element.elementor-element-919576e {
    width: var(--container-widget-width, 169px);
    max-width: 169px;
    --container-widget-width: 169px;
    --container-widget-flex-grow: 0;
    text-align: left;
    color: var(--e-global-color-lighter);
    font-family: Arial, Sans-serif;
    font-weight: 400
}

.elementor-95 .elementor-element.elementor-element-919576e>.elementor-widget-container {
    margin: 0 0 0 0
}

.elementor-widget-button .elementor-button {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-weight: var(--e-global-typography-accent-font-weight)
}

.elementor-95 .elementor-element.elementor-element-e4df7b5>.elementor-widget-container {
    margin: 0 0 70px 0
}

.elementor-95 .elementor-element.elementor-element-e4df7b5 .elementor-button {
    font-family: Arial, Sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: lowercase;
    line-height: 24px;
    letter-spacing: .1px;
    fill: var(--e-global-color-lighter);
    color: var(--e-global-color-lighter);
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: var(--e-global-color-primary);
    padding: 0 0 0 0
}

.elementor-95 .elementor-element.elementor-element-e4df7b5 .elementor-button:hover, .elementor-95 .elementor-element.elementor-element-e4df7b5 .elementor-button:focus {
    border-color: var(--e-global-color-primary)
}

.elementor-95 .elementor-element.elementor-element-2f82c75 {
    text-align: left;
    color: var(--e-global-color-lighter)
}

.elementor-95 .elementor-element.elementor-element-4b1d95b {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --background-transition: 0.3s;
    --padding-top: 39px;
    --padding-bottom: 50px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-95 .elementor-element.elementor-element-8598ef5 {
    color: var(--e-global-color-lighter)
}

@media(min-width:768px) {
    .elementor-95 .elementor-element.elementor-element-9f12456 {
        --width: 8.5%
    }

    .elementor-95 .elementor-element.elementor-element-fc72bf4 {
        --width: 36.5%
    }

    .elementor-95 .elementor-element.elementor-element-98d6bd3 {
        --width: 55%
    }

    .elementor-95 .elementor-element.elementor-element-54b010c {
        --width: 17%
    }

    .elementor-95 .elementor-element.elementor-element-36052e8 {
        --width: 15%
    }

    .elementor-95 .elementor-element.elementor-element-b2e2482 {
        --width: 36%
    }

    .elementor-95 .elementor-element.elementor-element-d8e22ee {
        --width: 32%
    }

    .elementor-95 .elementor-element.elementor-element-f3b91af {
        --width: 62%
    }
}

@media(max-width:1366px) and (min-width:768px) {
    .elementor-95 .elementor-element.elementor-element-f3b91af {
        --width: 224.922px
    }
}

@media(max-width:880px) and (min-width:768px) {
    .elementor-95 .elementor-element.elementor-element-fc72bf4 {
        --width: 45%
    }

    .elementor-95 .elementor-element.elementor-element-98d6bd3 {
        --width: 50%
    }

    .elementor-95 .elementor-element.elementor-element-54b010c {
        --width: 50%
    }

    .elementor-95 .elementor-element.elementor-element-36052e8 {
        --width: 50%
    }

    .elementor-95 .elementor-element.elementor-element-b2e2482 {
        --width: 50%
    }

    .elementor-95 .elementor-element.elementor-element-d8e22ee {
        --width: 50%
    }

    .elementor-95 .elementor-element.elementor-element-f3b91af {
        --width: 70%
    }
}

@media(max-width:1200px) {
    .elementor-95 .elementor-element.elementor-element-b23b0b2 {
        --padding-top: 0;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px
    }

    .elementor-95 .elementor-element.elementor-element-b4c7cc4 {
        --padding-top: 0;
        --padding-bottom: 0px;
        --padding-left: 30px;
        --padding-right: 30px
    }

    .elementor-95 .elementor-element.elementor-element-9f12456 {
        --padding-top: 0;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px
    }

    .elementor-95 .elementor-element.elementor-element-07367ac {
        --padding-top: 0;
        --padding-bottom: 0px;
        --padding-left: 30px;
        --padding-right: 30px
    }

    .elementor-95 .elementor-element.elementor-element-c2e47e6 {
        --padding-top: 80px;
        --padding-bottom: 73px;
        --padding-left: 0px;
        --padding-right: 0px
    }

    .elementor-95 .elementor-element.elementor-element-b2e2482 {
        --padding-top: 0;
        --padding-bottom: 0px;
        --padding-left: 30px;
        --padding-right: 30px
    }

    .elementor-95 .elementor-element.elementor-element-919576e>.elementor-widget-container {
        margin: 0 0 102px 0
    }

    .elementor-95 .elementor-element.elementor-element-4b1d95b {
        --padding-top: 39px;
        --padding-bottom: 50px;
        --padding-left: 0px;
        --padding-right: 0px
    }
}

@media(max-width:1024px) {
    .elementor-95 .elementor-element.elementor-element-63fbbff>.elementor-widget-container {
        padding: 35px 0 50px 0
    }

    .elementor-95 .elementor-element.elementor-element-0a3d88e>.elementor-widget-container {
        margin: 67px 0 0 0
    }

    .elementor-95 .elementor-element.elementor-element-b2e2482 {
        --padding-top: 0;
        --padding-bottom: 0px;
        --padding-left: 30px;
        --padding-right: 30px
    }
}

@media(max-width:880px) {
    .elementor-95 .elementor-element.elementor-element-63fbbff>.elementor-widget-container {
        padding: 30px 0 30px 0
    }

    .elementor-95 .elementor-element.elementor-element-63fbbff .elementor-heading-title {
        font-size: 40px;
        line-height: 40px
    }

    .elementor-95 .elementor-element.elementor-element-63fbbff .elementor-sub-title {
        font-size: 20px;
        line-height: 24px
    }

    .elementor-95 .elementor-element.elementor-element-98d6bd3 {
        --align-items: center;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%)
    }

    .elementor-95 .elementor-element.elementor-element-0a3d88e>.elementor-widget-container {
        margin: 88px 0 0 0
    }

    .elementor-95 .elementor-element.elementor-element-0a3d88e .form-style .mc4wp-form .mc4wp-form-fields button[type="submit"] {
        padding: 15px 25px 15px 25px
    }

    .elementor-95 .elementor-element.elementor-element-c2e47e6 {
        --flex-wrap: wrap;
        --padding-top: 50px;
        --padding-bottom: 50px;
        --padding-left: 0px;
        --padding-right: 0px
    }

    .elementor-95 .elementor-element.elementor-element-54b010c {
        --align-items: flex-start;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
        --padding-top: 30px;
        --padding-bottom: 45px;
        --padding-left: 0px;
        --padding-right: 0px
    }

    .elementor-95 .elementor-element.elementor-element-54b010c.e-con {
        --order: 99999
    }

    .elementor-95 .elementor-element.elementor-element-36052e8 {
        --padding-top: 0;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px
    }

    .elementor-95 .elementor-element.elementor-element-36052e8.e-con {
        --order: 99999
    }

    .elementor-95 .elementor-element.elementor-element-b2e2482 {
        --align-items: flex-start;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
        border-width: 0 0 0 0;
        --border-top-width: 0px;
        --border-right-width: 0px;
        --border-bottom-width: 0px;
        --border-left-width: 0px;
        --padding-top: 0px;
        --padding-bottom: 45px;
        --padding-left: 0px;
        --padding-right: 30px
    }

    .elementor-95 .elementor-element.elementor-element-7cd2b9d {
        text-align: left
    }

    .elementor-95 .elementor-element.elementor-element-d8e22ee {
        --align-items: flex-start;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
        --flex-wrap: wrap;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px
    }

    .elementor-95 .elementor-element.elementor-element-d8e22ee.e-con {
        --order: 99999
    }

    .elementor-95 .elementor-element.elementor-element-919576e>.elementor-widget-container {
        margin: 0 0 30px 0
    }

    .elementor-95 .elementor-element.elementor-element-919576e {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 100%);
        max-width: 100%
    }

    .elementor-95 .elementor-element.elementor-element-e4df7b5>.elementor-widget-container {
        margin: 0 0 30px 0
    }
}

@media(max-width:767px) {
    .elementor-95 .elementor-element.elementor-element-b4c7cc4:not(.elementor-motion-effects-element-type-background), .elementor-95 .elementor-element.elementor-element-b4c7cc4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-size: cover
    }

    .elementor-95 .elementor-element.elementor-element-b4c7cc4 {
        --margin-top: 0;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 15px;
        --padding-right: 15px
    }

    .elementor-95 .elementor-element.elementor-element-9f12456 {
        --width: 23%
    }

    body:not(.rtl) .elementor-95 .elementor-element.elementor-element-ac67076 {
        left: 39px
    }

    body.rtl .elementor-95 .elementor-element.elementor-element-ac67076 {
        right: 39px
    }

    .elementor-95 .elementor-element.elementor-element-ac67076 {
        top: -29px
    }

    body:not(.rtl) .elementor-95 .elementor-element.elementor-element-9eb0ef6 {
        left: 0
    }

    body.rtl .elementor-95 .elementor-element.elementor-element-9eb0ef6 {
        right: 0
    }

    .elementor-95 .elementor-element.elementor-element-fc72bf4 {
        --width: 77%
    }

    .elementor-95 .elementor-element.elementor-element-63fbbff>.elementor-widget-container {
        margin: 0 0 0 0;
        padding: 15px 0 15px 13px
    }

    .elementor-95 .elementor-element.elementor-element-63fbbff .elementor-heading-title {
        font-size: 40px;
        line-height: 40px
    }

    .elementor-95 .elementor-element.elementor-element-63fbbff .elementor-sub-title {
        font-size: 20px;
        line-height: 24px
    }

    .elementor-95 .elementor-element.elementor-element-98d6bd3 {
        --width: 100%;
        --margin-top: 15px;
        --margin-bottom: 30px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px
    }

    .elementor-95 .elementor-element.elementor-element-0a3d88e>.elementor-widget-container {
        margin: 0 0 0 0
    }

    .elementor-95 .elementor-element.elementor-element-0a3d88e .form-style .mc4wp-form .mc4wp-form-fields button[type="submit"] {
        padding: 12px 20px 12px 20px
    }

    .elementor-95 .elementor-element.elementor-element-07367ac {
        --padding-top: 0;
        --padding-bottom: 0px;
        --padding-left: 15px;
        --padding-right: 15px
    }

    .elementor-95 .elementor-element.elementor-element-c2e47e6 {
        --gap: 45px 45px
    }

    .elementor-95 .elementor-element.elementor-element-54b010c {
        --gap: 20px 20px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px
    }

    .elementor-95 .elementor-element.elementor-element-36052e8 {
        --gap: 20px 20px
    }

    .elementor-95 .elementor-element.elementor-element-b2e2482 {
        --padding-top: 0;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px
    }

    .elementor-95 .elementor-element.elementor-element-7cd2b9d>.elementor-widget-container {
        padding: 0 50px 0 0
    }

    .elementor-95 .elementor-element.elementor-element-ff74f1e {
        --grid-column-gap: 6px
    }

    .elementor-95 .elementor-element.elementor-element-f3b91af {
        --gap: 20px 20px
    }

    .elementor-95 .elementor-element.elementor-element-919576e>.elementor-widget-container {
        margin: 0 0 20px 0
    }

    .elementor-95 .elementor-element.elementor-element-919576e {
        --container-widget-width: 80%;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 80%);
        max-width: 80%
    }

    .elementor-95 .elementor-element.elementor-element-2f82c75 {
        width: var(--container-widget-width, 80%);
        max-width: 80%;
        --container-widget-width: 80%;
        --container-widget-flex-grow: 0
    }

    .elementor-95 .elementor-element.elementor-element-4b1d95b {
        --justify-content: center;
        --gap: 15px 15px;
        --padding-top: 25px;
        --padding-bottom: 50px;
        --padding-left: 0px;
        --padding-right: 0px
    }

    .elementor-95 .elementor-element.elementor-element-8598ef5 {
        text-align: center
    }
}